.item-portfolio-content h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #606060;
  text-shadow: 1px 1px 5px var(--brown);
  background-color: var(--lightgreen);
  padding: 10px 0;
  margin: 10px 0;
}
.item-portfolio {
  display: flex;
  gap: 15px;
  height: 300px;
  margin: 40px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--darkgreen);
}
.item-portfolio .text {
  width: 50%;
}
.item-portfolio .images {
  width: 50%;
}
.item-portfolio .text h3 {
  font-weight: bold;
  font-size: 16px;
}
.item-portfolio .icons {
  display: flex;
  margin: 20px 0;
}
.item-portfolio .icons img {
  height: 40px;
  margin-left: 10px;
}
.item-portfolio .icons .react {
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
}
.item-portfolio .text .features {
  padding: 0 15px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 20px;
}
.item-portfolio .text a {
  line-height: 40px;
  margin-left: calc(50% - 30px);
  text-decoration: none;
  background-color: var(--darkgreen);
  padding: 5px 15px;
  color: white;
  border-radius: 10px;
  border: 1px solid var(--lightbrown);
  box-shadow: 2px 2px 10px 3px var(--brown);
}

.item-portfolio .images .carousel-container {
  width: 100%;
  height: 100%;
}
.item-portfolio .images .carousel-image {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .item-portfolio {
    flex-direction: column;
    height: 600px;
  }
  .item-portfolio .text {
    width: 100%;
  }
  .item-portfolio .images {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 550px) {
  .item-portfolio-content h2 {
    font-size: 16px;
  }
  .item-portfolio .text {
    font-size: 14px;
  }
  .item-portfolio .icons img {
    height: 30px;
    margin-left: 5px;
  }
}
