.pageCV {
  padding: 30px 15px;
  border-radius: 15px;
}
.pageCV h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--violet);
}
.pageCV .top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--violet);
}
