.portfolio {
  background-color: white;
  border-radius: 15px;
  padding: 40px 15px;
}
.portfolio h1 {
  text-align: center;
  font-size: 28px;
  color: var(--violet);
  font-weight: 600;
  font-style: italic;
}

/* RESPONSIVE */
@media (max-width: 550px) {
  .portfolio h1 {
    font-size: 22px;
  }
}
