.portfolio {
  background-color: white;
  border-radius: 15px;
  padding: 40px 15px;
}
.portfolio h1 {
  text-align: center;
  font-size: 28px;
  color: var(--violet);
  font-weight: 600;
  font-style: italic;
}

.item-portfolio {
  display: flex;
}
.item-portfolio .text {
  width: 50%;
}
.item-portfolio .text h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: var(--darkgreen);
  padding: 10px 0;
  margin: 10px 0;
}
.item-portfolio .text h3 {
  font-weight: bold;
  font-size: 16px;
}
.item-portfolio .icons {
  display: flex;
  margin: 20px 0;
}
.item-portfolio .icons img {
  height: 40px;
  margin-left: 10px;
}
.item-portfolio .icons .react {
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
}
.item-portfolio .text .features {
  padding: 0 15px;
  list-style-type: disc;
  list-style-position: inside;
}
