:root {
  --red: #d72631;
  --lightgreen: #a2d5c6;
  --darkgreen: #077b8a;
  --violet: #5c3c92;
  --lightbrown: #ccc0ae;
  --brown: #c2b7a3;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--violet);
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  /* background-color: rgb(230, 230, 230); */
  background-color: white;
}
